<html lang="en">
<head>
    <title>Your Adventuring Day</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
</head>
<body>

<header>
    <a href="/day/Easy" class="button">Easy</a>
    <a href="/day/Challenging" class="button">Challenging</a>
    <a href="/day/Harsh" class="button">Harsh</a>
    <a href="/day/Unfair" class="button">Unfair</a>
    <a href="/day/Hellscape" class="button">Hellscape</a>
</header>

<h1>Please choose one of the following difficulties for your adventuring day:</h1>
<hr/>

<div>
    <ul>
        {{#each variants}}
            <li>
                <a href="{{relativeUrl}}">{{difficulty}} - {{description}}.</a>
            </li>
        {{/each}}
    </ul>
</div>

<footer class="sticky">
    <p>Looking for the code? Checkout the <a href="https://github.com/SoulBeaver/d100-service">Github</a> repo!</p>
</footer>

</body>
</html>